body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

ul {
    list-style: none;
}

strong {
    color: red;
    font-weight: normal;
}

strong>div {
    display: inline;
    color: blue;
}

span {
    color: black;
}