html,
body {
    font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    /*background-color: #FFFFFF;*/
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}


/*body {
    background-image: url("../problem/final.png");
    background-repeat: no-repeat;
}*/

#shellHeader,
#shellHeader>div {
    display: inline-block;
}

#logo {
    margin-left: 11px;
    height: 65px;
    background-image: url("../template/images/logo.png");
    background-repeat: no-repeat;
    width: 180px;
}

.separator {
    height: 45px;
    border-left: 5px solid black;
    position: relative;
    top: -10px;
    left: -8px;
}

#headerTitle {
    font-weight: bold;
    font-size: 1.4em;
    position: relative;
    top: -25px;
    left: -3px;
}

#search {
    height: 65px;
    background-color: #0078D7;
    margin-left: 12px;
    margin-top: -5px;
}

#search>input {
    width: 400px;
    padding: 7px 0 7px 2px;
    position: relative;
    top: 15px;
    left: 300px;
}

main {
    margin-left: 27px;
}

main h1 {
    font-size: 30px;
    margin-top: 15px;
}

main h2 {
    font-weight: normal;
    color: #333;
    margin-top: -20px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #333;
    margin-top: -12px;
}

main p {
    text-align: justify;
}

#footer {
    background-color: #333;
    margin: 30px 0 0 11px;
    height: 60px;
}

#footer div {
    color: white;
    font-size: 14px;
}

#footer #language {
    display: inline-block;
    margin-left: 10px;
    padding: 20px 10px;
}

#footer #copyright {
    float: right;
    padding: 20px 10px;
    font-weight: bold;
}

#footer ul {
    list-style: none;
}

#footer ul li {
    display: inline-block;
    position: relative;
    top: -64px;
    left: 470px;
    margin: 5px;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}