html,
body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
}

body,
div,
ul,
li,
img,
span,
a {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#wrapper>div {
    width: 700px;
    margin: 15px;
    border-radius: 5px;
    background-color: #CCCCCC;
}

.holder {
    display: inline-block;
}

.holder img {
    width: 550px;
    border-radius: 5px;
    margin: 10px;
}

.playlist {
    display: inline-block;
    width: 120px;
    margin-left: -5px;
    position: relative;
    top: -25px;
}

.playlist li {
    border-bottom: 2px solid black;
    padding: 5px;
}

.playlist img {
    margin-left: 12px;
    border: 1px white;
    border-radius: 10px;
}

.playlist a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.playlist a:hover {
    text-decoration: underline;
}