div,
body,
h1,
img,
p {
    padding: 0;
    margin: 0;
}

body {
    /*background-image: url('task-images/initial.png');
    background-repeat: no-repeat;*/
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
    font-size: 16px;
}

#wrapper {
    width: 935px;
    padding: 25px;
}

#wrapper>div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 16px 35px;
    background: #de28ff;
    background: -moz-linear-gradient(top, #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
    background: -webkit-linear-gradient(top, #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
    background: linear-gradient(to bottom, #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#de28ff', endColorstr='#f9dbff', GradientType=0);
}

h1 {
    font-size: 1.8em;
}

#wrapper div img {
    position: absolute;
    top: 109px;
}

#wrapper div img.left-arrow {
    left: 26px;
}

#wrapper div img.right-arrow {
    left: 928px;
}

#wrapper div p.postedby {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 6px 6px 6px 15px;
    padding: 5px 15px 4px 15px;
}

#wrapper div p.info {
    padding: 13px 0 12px 0;
    letter-spacing: -0.09px;
}