body, div, h1, img, p {
    padding: 0;
    margin: 0;
}
body {
    /*background: url('/task-images/initial.png') no-repeat;*/
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
    font-size: 16px;
}
#wrapper {
    width: 960px;
    padding: 25px;
}
#wrapper div {
    width: 935px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    padding: 16px 35px;
    position: relative;
    background: #de28ff;
background: -moz-linear-gradient(top,  #de28ff 0%, #de28ff 15%, #f9dbff 75%, #f9dbff 100%);
background: -webkit-linear-gradient(top,  #de28ff 0%,#de28ff 15%,#f9dbff 75%,#f9dbff 100%);
background: linear-gradient(to bottom,  #de28ff 0%,#de28ff 15%,#f9dbff 75%,#f9dbff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de28ff', endColorstr='#f9dbff',GradientType=0 );

}
#wrapper div h1 {
    font-size: 1.8em;
    margin-bottom: 12px;
    letter-spacing: 0.16px;
}
#wrapper div img {
    position: absolute;
    top: 83px;
}
#wrapper div img.left-arrow {
    left:0;
}
#wrapper div img.right-arrow {
    right:0;
}
#wrapper div p.postedby {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline;
    margin: 14px;
    padding: 5px 15px;
}
#wrapper div p.info {
    margin-top: 28px;
    text-align: justify;
    letter-spacing: -0.05px;
    padding-bottom: 15px;
    line-height: 18px;
}