body {
  font-family: sans-serif;
}
.wrap {
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 460px;
  height: 590px;
}
ul {
  list-style: none;
}
header {
  display: inline;
  position:relative;
  top:20px;
  left:20px;
}
.cat-box {
  margin-top: 33px;
  padding:18px;
  background-color: #FFF;
  border: 2px solid #aaa;
  z-index: 2;
  display:block;
  width: 380px;
  height: 99px;
  position:relative;
  left:-20px;
  top:40px;
}
img {
  margin-right:20px;
  z-index:3;
  float:left;
  border: 2px solid #aaa;
}
p {
  margin:0;
  font-size: 12px;
}
input {
  width:60px;
  margin-left: 10px;
  float: right;
  position: relative;
  bottom:-50px;
  background-image: url(Btn-Big.png);
  color: white;
  padding:5px;
}
