body,
div,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

body {
    background: url('/initial.PNG') no-repeat;
    width: 960px;
    margin: 7px 0 0 6px;
    z-index: 1;
}

#root {
    height: 800px;
    font-size: 18px;
    background-color: #ccc;
    padding-right: 5px;
}

#root .header {
    text-align: center;
    font-size: 1.7em;
    padding-top: 34px;
    padding-left: 5px;
}

#root>.description {
    background-color: gray;
    display: inline-block;
    width: 754px;
    height: 66px;
    border: 3px solid white;
    border-radius: 15px;
    margin: 22px 44px;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;
}

#root .remark {
    text-align: center;
    padding-top: 27px;
    padding-left: 3px;
}

.heroes-list {
    padding-left: 55px;
}

.heroes-list li {
    display: inline-block;
}

.heroes-list li p {
    background-color: gray;
    float: left;
    margin-top: 18px;
    width: 213px;
    height: 235px;
    border: 3px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 20px;
    text-align: justify;
    z-index: 200;
}

.heroes-list li p:after {
    clear: left;
}

.heroes-list h1 {
    display: inline-block;
}

.heroes-list h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 33px;
}

img {
    z-index: 100;
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 20px;
    top: 495px;
}


/*
img:nth-of-type(1) {
    left: 20px;
}

img:nth-of-type(2) {
    left: 225px;
}

img:nth-of-type(3) {
    left: 400px;
}

img:nth-of-type(4) {
    left: 600px;


}*/