body,
div,
div,
h1,
img,
p {
    padding: 0;
    margin: 0;
}

body,
html {
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
    font-size: 16px;
}


/*body {
    background: url("./task-images/initial.png");
    background-repeat: no-repeat;
}*/

#wrapper {
    width: 935px;
    padding: 25px;
}

#wrapper>div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 16px 35px;
}

#wrapper>div>h1 {
    font-size: 1.82em;
}

#wrapper>div>img.left-arrow {
    float: left;
    position: absolute;
    left: 25px;
    top: 108px;
}

#wrapper>div>img.right-arrow {
    float: right;
    position: absolute;
    left: 930px;
    top: 108px;
}

#wrapper>div>p.postedby {
    display: inline-block;
    padding: 5px 15px;
    margin: 5px 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#wrapper>div>p.info {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: justify;
    letter-spacing: -0.05px;
}