body div ul li h1 img {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
#site-header {
    text-align: center;
    background-color: lightgray;
    color: white;
}
.superheroes li {
    display: inline-block;
}
.superheroes img {
    width: 200px;
    height: 200px;
    float: left;
    border-radius:30px;
}