body, header, div, ul, li, h1, a {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#archive li a {
    float: left;
    padding-left: 15px;
    font-size: 10px;
    color:black;
    position: relative;
    left: 745px;
}

#nav ul {
   position: relative;
   top: 20px;
   left: 50px;
}

#nav a {
    float: left;
    color: white;
    font-size: 18px;
    padding-right: 25px;
}
#header a:first-letter {
    text-transform: capitalize;
}

header h1 {
    float: right;
    font-size: 28px;
    color: white;
    position: relative;
    top: 15px;
    right: 10px;
}

#header {
    height: 65px;
    background: #d54900;
background: -moz-linear-gradient(top,  #d54900 0%, #dd6c3b 2%, #d54900 3%, #d54900 5%, #dd6c3b 6%, #d54900 8%, #d54900 10%, #dd6c3b 11%, #d54900 13%, #d54900 14%, #dd6c3b 16%, #d54900 17%, #d64a00 19%, #dd6c3b 21%, #d54900 22%, #d54900 24%, #de6c3a 25%, #d54900 27%, #d54900 29%, #dd6a37 30%, #d54900 32%, #d54900 33%, #dd6835 35%, #d54900 37%, #d54900 38%, #dc6530 40%, #d54900 41%, #d54900 43%, #db632d 44%, #d54900 46%, #d54900 48%, #da6028 49%, #d54900 51%, #d54900 52%, #da5e24 54%, #d54900 56%, #d54900 57%, #da5a1f 59%, #d54900 60%, #d54900 62%, #d9571a 63%, #d54900 65%, #d54900 67%, #d95514 68%, #d54900 70%, #d54900 71%, #d7510d 73%, #d54900 75%, #d54900 100%);
background: -webkit-linear-gradient(top,  #d54900 0%,#dd6c3b 2%,#d54900 3%,#d54900 5%,#dd6c3b 6%,#d54900 8%,#d54900 10%,#dd6c3b 11%,#d54900 13%,#d54900 14%,#dd6c3b 16%,#d54900 17%,#d64a00 19%,#dd6c3b 21%,#d54900 22%,#d54900 24%,#de6c3a 25%,#d54900 27%,#d54900 29%,#dd6a37 30%,#d54900 32%,#d54900 33%,#dd6835 35%,#d54900 37%,#d54900 38%,#dc6530 40%,#d54900 41%,#d54900 43%,#db632d 44%,#d54900 46%,#d54900 48%,#da6028 49%,#d54900 51%,#d54900 52%,#da5e24 54%,#d54900 56%,#d54900 57%,#da5a1f 59%,#d54900 60%,#d54900 62%,#d9571a 63%,#d54900 65%,#d54900 67%,#d95514 68%,#d54900 70%,#d54900 71%,#d7510d 73%,#d54900 75%,#d54900 100%);
background: linear-gradient(to bottom,  #d54900 0%,#dd6c3b 2%,#d54900 3%,#d54900 5%,#dd6c3b 6%,#d54900 8%,#d54900 10%,#dd6c3b 11%,#d54900 13%,#d54900 14%,#dd6c3b 16%,#d54900 17%,#d64a00 19%,#dd6c3b 21%,#d54900 22%,#d54900 24%,#de6c3a 25%,#d54900 27%,#d54900 29%,#dd6a37 30%,#d54900 32%,#d54900 33%,#dd6835 35%,#d54900 37%,#d54900 38%,#dc6530 40%,#d54900 41%,#d54900 43%,#db632d 44%,#d54900 46%,#d54900 48%,#da6028 49%,#d54900 51%,#d54900 52%,#da5e24 54%,#d54900 56%,#d54900 57%,#da5a1f 59%,#d54900 60%,#d54900 62%,#d9571a 63%,#d54900 65%,#d54900 67%,#d95514 68%,#d54900 70%,#d54900 71%,#d7510d 73%,#d54900 75%,#d54900 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d54900', endColorstr='#d54900',GradientType=0 );

}

p {
    text-align: justify;
}

#wrapper {
    width: 960px;
    margin: 5px;
}
#content h1 {
    font-size: 24px;
    padding-top: 20px;
}
.clear {
    clear: both;
}
