html,
body,
h1,
ul,
li,
a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    padding-left: 4px;
}

.clear {
    clear: both;
}

#wrapper header {
    padding: 15px 0 17px 15px;
    background-image: url("./images/bg-header.png");
}

#wrapper header h1 {
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    color: #575E5B;
    font-weight: bold;
}

#wrapper header ul {
    list-style: none;
    display: inline-block;
    float: right;
    padding-right: 23px;
}

#wrapper header ul li {
    margin-left: 16px;
    display: inline-block;
    font-size: 14px;
    color: #575E5B;
}

#searchBar {
    background-color: black;
    padding: 9px;
}

#searchBar a {
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

#archives {
    float: left;
    font-size: 14px;
    color: #C6C6C6;
}

#search {
    float: right;
    font-size: 14px;
    color: #C6C6C6;
}

#content h1 {
    font-size: 24px;
    color: #575E5B;
    padding-top: 18px;
}

#content article {
    padding-top: 2px;
}

#content article p {
    font-size: 14px;
    color: #575E5B;
}